
<div class="cargo">
	<div class="cargo-title"> Your Cargo </div>
	<% if @ship.cargo > 0 %>
		<p>
			<%= @ship.cargo %> tuns of ore
		</p>
	<% end %>
	<p>
		Free cargo room: <%= @ship.cargo_room %> <br/>
		Maximum cargo: <%= @ship.max_cargo %>
	</p>
</div>

