<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  	<title>Star Worlds</title>
	<%= stylesheet_link_tag "scaffold", "starWorld", :medai => "all" %>
</head>
<body id="game_play">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Star Worlds" %>
	</div>
	<div id="columns">
	<div id="side">
		<p>
			<%= link_to "Star map", :action => 'star_map' %>
		</p>
		<p>
			<%= link_to "Scaners", :action => 'scan' %>
			<br/>
			<%= link_to "Hyperdrive", :action => 'goto_location' %>
		</p>
		<p>
			<%= render(:partial => "cargo", :object => @cargo) %>
		</p>
	</div>
	<div id="main">
	<% if flash[:notice] -%>
		<div id="notice"><%= flash[:notice] %></div>
	<% end -%>
		<%= yield :layout %>
	</div>
	</div>
</div>
</body>
</html>
</body>
</html>
